.container {
  width: 100hw;
  display: grid;
  justify-content: center;
}

.item {
  width: 750px;
}

ol {
    padding: 0;
}

.liQuantity{
  color: red;
}

.highlightText{
  background-color:#c0ffc8;
}